<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="row w-100">
      <div class="col">
        <ul class="nav navbar-nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/docs" routerLinkActive="active">Docs</a>
          </li>
        </ul>
      </div>
      <div class="col text-right">
        <div ngbDropdown class="d-inline-block"> 
          <button class="btn btn-outline-primary" id="proposalDropdown" ngbDropdownToggle>
            Proposals
          </button>
          <div ngbDropdownMenu aria-labelledby="proposalDropdown">
            <a class="dropdown-item" routerLink="/proposals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">Proposals</a>
            <a class="dropdown-item" routerLink="/proposals/new" routerLinkActive="active">New Proposal</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
